@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --fc-today-bg-color: #ffffff !important;
    --fc-non-business-color: #cccccc !important;
    --fc-event-text-color: gray;
    --fc-event-bg-color: #ffffff;
    --fc-page-bg-color: blue;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fc {
  $root: &;

  &-timegrid {
    $this: &;

    // &-col-events {
    //   // https://css-tricks.com/snippets/sass/caching-current-selector-sass/

    //   @apply grid grid-cols-2 !important;

    //   // If has 2 children
    //   &:has(#{$this}-event-harness:nth-child(2)) {
    //     #{$this}-event-harness {
    //       &:nth-child(1n) {
    //         @apply left-0 right-[calc(50%+2px)] !important;
    //       }

    //       &:nth-child(2n) {
    //         @apply left-[calc(50%+2px)] right-0 !important;
    //       }
    //     }
    //   }

    //   // If has 3 children
    //   &:has(#{$this}-event-harness:nth-child(3)) {
    //     #{$this}-event-harness {
    //       &:nth-child(1n) {
    //         @apply left-0 right-2/3 !important;
    //       }

    //       &:nth-child(2n) {
    //         @apply left-1/3 right-1/3 !important;
    //       }

    //       &:nth-child(3n) {
    //         @apply left-2/3 right-0 !important;
    //       }
    //     }
    //   }

    //   // #{$root}-event {
    //   //   @apply border-0 shadow-none bg-transparent !important;
    //   // }
    // }
  }
}

.cal-available {
  @apply border-0 !important;

  // As neighbor
  &.fc-event {
    @apply border border-dashed border-gray-400 shadow-none bg-white rounded-lg cursor-pointer !important;

    &:focus {
      @apply border-solid border-gray-800 bg-yellow-100 !important;

      &::before,
      &::after {
        @apply bg-transparent !important;
        content: "";
      }
    }
  }

  // // As child
  // .fc-event {
  //   &-time {
  //     @apply hidden;
  //   }

  //   &-title {
  //     &-container {
  //       @apply flex items-center justify-center;
  //     }
  //   }
  // }
}

// .fc {
//   &-event {
//     $event: &;

//     @apply border border-gray-400 shadow-none bg-secondary rounded-md cursor-pointer !important;

//     &:focus {
//       @apply border border-gray-800 !important;

//       &::before,
//       &::after {
//         @apply border-0 shadow-none bg-transparent !important;
//         content: "";
//       }
//     }

//     &-main {
//       @apply border-0 shadow-none bg-transparent text-gray-400 !important;
//     }

//     #{$event}:focus &-main {
//       @apply border-0 shadow-none bg-transparent text-gray-800 !important;
//     }

//     &-time {
//       @apply hidden;
//     }

//     &-title {
//       &-container {
//         @apply flex items-center justify-center;
//       }
//     }
//   }
// }
